{define title}Kontaktný formulár{/define}
{define description}Kontaktný formulár.{/define}
{block content}
<p>Kontaktujte nás odoslaním formulára uvedeného nižšie.</p>
{* Formulár pre kontakt. *}
{control contactForm}