{define title}Prihlásenie{/define}
{define description}Prihlásenie do používateľského účta.{/define}
{block content}
{control loginForm}
<p>Pokiaľ ešte nemáte účet, <a n:href=":Core:Administration:register">zaregistrujte sa</a>.</p>